.quiz-hero{
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
    padding-bottom: 40px;
}

.quiz-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 40px;
  gap: 10px;
}

.quiz-name-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0d9488;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.quiz-name-card > h1 {
  box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75);
  padding: 4px 12px;
  color: #134e4a;
}

.quiz-card-contianer:hover .quiz-name-card {
  transform-origin: 0px;
  transform: perspective(450px) translateY(-4%) rotateY(80deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  /* transform: perspective(100px) rotate3d(1,1,1,90deg); */
  /* visibility: hidden; */
}

.quiz-card {
  background-color: #10b981;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
  cursor: pointer;
}

.quiz-card-contianer:hover .quiz-card {
  /* transform: perspective(900px) translateY(-5%) rotateY(25deg) translateZ(0); */
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.quiz-card > h1 {
  /* opacity: 0; */
  /* transform: translateX(-60px); */
  /* transition: all 0.3s ease-in-out 0.4s; */
  color: #14532d;
  /* box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75); */
  /* padding: 4px 14px; */
}

@media screen and (max-width:900px) {
    .quiz-hero{
        display: block;
        /* justify-content: center; */
    }
    /* .quiz-hero>div>h1{
        text-align: center;
    }
    .quiz-hero>div>div>p{
        text-align: center;
    }
    .quiz-hero>div>p{
        text-align: center;
    } */
    .img-container{
        display: none;
    }
    .quiz-cards-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:640px) {
    .quiz-cards-container{
        grid-template-columns: 1fr;
    }
}

/* .quiz-card-contianer:hover .quiz-card>h1{
    opacity: 1;
    transform: translateX(0px);
}
.quiz-card>h3{
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.3s ease-in-out 0.5s;
}

.quiz-card-contianer:hover .quiz-card>h3{
    opacity: 1;
    transform: translateX(0px);
}
.quiz-card>h4{
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.3s ease-in-out 0.6s;
}

.quiz-card-contianer:hover .quiz-card>h4{
    opacity: 1;
    transform: translateX(0px);
} */

/* .quiz-name-card::before,
.quiz-name-card::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.quiz-name-card::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.quiz-name-card::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
} */
