.quiz-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  /* padding: 0px 40px; */
  padding-bottom: 40px;
  background: url("https://media.istockphoto.com/id/1395434382/photo/aerial-view-of-water-and-sand-patterns.jpg?s=2048x2048&w=is&k=20&c=UapSvLJURkL1DWUlFFfLaINdpe-plu8R32-txcQbne8=");
}

.quiz-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 0px;
  gap: 10px;
}

.quiz-name-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.quiz-name-card > h1 {
  box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75);
  padding: 4px 12px;
  color: #134e4a;
}

.bottom-line{
  position: absolute;
  background-color: #164E63;
  width: 100%;
  height: 15px;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}


.quiz-card-contianer:hover .quiz-name-card,.quiz-card-contianer:hover .bottom-line {
  transform-origin: 0px;
  transform: perspective(450px) translateY(-4%) rotateY(80deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  /* transform: perspective(100px) rotate3d(1,1,1,90deg); */
  /* visibility: hidden; */
}

.quiz-card {
  background-color: #10b981;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
  /* cursor: pointer; */
}

.quiz-card-contianer:hover .quiz-card {
  /* transform: perspective(900px) translateY(-5%) rotateY(25deg) translateZ(0); */
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.quiz-card > h1 {
  /* opacity: 0; */
  /* transform: translateX(-60px); */
  /* transition: all 0.3s ease-in-out 0.4s; */
  color: #14532d;
  /* box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75); */
  /* padding: 4px 14px; */
}
.start-quiz-btn {
  background-color: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  margin-top: 4px;
  font-size: 14px;
  transition: all 0.3s ease-out;
  color: #164E63;
  width: 100px;
  position: relative;
}

.start-quiz-btn::before{
  content: "";
  /* color: white; */
  background-color: #164E63;
  position: absolute;
  display: block;
  width: 0px;
  height: 3px;
  left: 0px;
  bottom: 0px;
  /* opacity: 0; */
  transition: all 0.3s ease-out;
  z-index: 0;
  border-radius: 5px;
  /* transform: translate(0px); */
}
.start-quiz-btn:hover{
  box-shadow: 0px 0px 4px black;
}
.start-quiz-btn:hover::before {
  /* color: white; */
  /* background-color: #c47b4e; */
  /* box-shadow: 0px 0px 4px black; */
  /* background-color: #164E63; */
  /* opacity: 1; */
  /* transform: translate(30px); */
  width: 100px;
  /* border: 1px solid #0D9488; */
}

/* @media screen and (max-width:800px) {
  .quiz-hero{
    display: block;
}
  .img-container{
    display: none;
}  
} */

@media screen and (max-width: 900px) {
  /* .quiz-hero>div>h1{
        text-align: center;
    }
    .quiz-hero>div>div>p{
        text-align: center;
    }
    .quiz-hero>div>p{
        text-align: center;
    } */

  .quiz-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 640px) {
  .quiz-cards-container {
    grid-template-columns: 1fr;
  }
}

/* .quiz-card-contianer:hover .quiz-card>h1{
    opacity: 1;
    transform: translateX(0px);
}
.quiz-card>h3{
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.3s ease-in-out 0.5s;
}

.quiz-card-contianer:hover .quiz-card>h3{
    opacity: 1;
    transform: translateX(0px);
}
.quiz-card>h4{
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.3s ease-in-out 0.6s;
}

.quiz-card-contianer:hover .quiz-card>h4{
    opacity: 1;
    transform: translateX(0px);
} */

/* .quiz-name-card::before,
.quiz-name-card::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.quiz-name-card::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.quiz-name-card::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
} */
