.password-container{
    position: absolute;
    top: -80px;
    width: 100%;
    left: 0px;
    background-color: #fff;
    height: 100vh;
}

.pass-content{
    display: flex;
    padding: 80px;
    margin-top: 40px;
    background-color: #94A3B8;
}

.pass-content h1{
    font-size: 48px;
    color: #334155;
    padding: 8px 0px;
}

.left-container{
    width: 50%;
}

.left-container p{
    color: #71717A;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.right-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 24px;
}

@media screen and (max-width:950px) {
    .pass-content h1{
        font-size: 38px;
    }
}

@media screen and (max-width:800px) {
    .pass-content{
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 30px;
    }
    .right-container{
        padding: 0px;
    }
    .left-container p{
        padding-top: 0px;
    }
}

@media screen and (max-width:700px) {
    .right-container{
        width: 65%;
    }
    .left-container{
        width: 65%;
    }
    .left-container p{
        font-size: 18px;
    }
}

@media screen and (max-width:550px) {
    .pass-content h1{
        font-size: 34px;
    }
    .right-container{
        width: 75%;
    }
    .left-container{
        width: 75%;
    }
    .left-container p{
        font-size: 16px;
    }
}

@media screen and (max-width:450px) {
    .pass-content h1{
        font-size: 30px;
    }
    .right-container{
        width: 95%;
    }
    .left-container{
        width: 95%;
    }
}
@media screen and (max-width:340px) {
    .password-container{
        width: 105%;
    }
    .pass-content h1{
        font-size: 28px;
    }
    .right-container{
        width: 97%;
    }
    .left-container{
        width: 97%;
    }
}

@media screen and (max-width:340px) {
    .password-container{
        width: 110%;
    }
}
