/* ${
  isSelected === 1 ? "bg-[#4ADE80]" : ""
} */
.create-quiz-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: auto;
  padding: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}
.name-input {
  border-bottom: 1px solid #0F172A;
  background-color: #f8fafc;
  padding: 10px;
  color: #0F172A;
  /* border-radius: 5px; */
  height: 46px;
}

.name-input:focus {
  outline: none;
  background-color: #e2e8f0;
}

.select-container {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
  width: 40%;
  /* padding: 0px 10px; */
  height: 45px;
  background-color: #f8fafc;
  box-shadow: 0px 0px 4px black;
}
.select-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.select-items {
  position: relative;
  margin-top: 10px;
  background-color: #f8fafc;
  padding: 10px;
  box-shadow: 0px 0px 4px black;
  max-height: 260px;
  overflow-y: scroll;
  z-index: 10;
  /* visibility: hidden; */
}
.select-items li {
  margin-top: 4px;
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
  /* border-bottom: 1px solid #94A3B8; */
}
.select-items li:hover {
  background-color: #cbd5e1;
}
.select-items li input {
  cursor: pointer;
}
.allowed-user-container > .react-multi-carousel-list {
  padding: 2px 10px;
  border-radius: 5px;
  justify-content: center;
}
.allowed-user-container
  > .react-multi-carousel-list
  > .react-multi-carousel-track {
  padding: 3px 10px;
  background-color: #fff;
}
.allowed-user-container
  > .react-multi-carousel-list
  > .react-multi-carousel-track
  > .react-multi-carousel-item {
  transform: rotate(0deg) translateZ(0px) scale(1);
  padding: 3px 0px;
  border: 1px solid #ceced2;
  border-radius: 5px;
}
.done-btn {
  border-width: 1px;
  border-style: solid;
  /* border: 1px solid #e2e8f0; */
  padding: 3px 12px;
  border-radius: 4px;
  cursor: pointer;
  /* width: 100%; */
  /* text-align: right; */
}
.done-btn:hover {
  box-shadow: 0px 0px 4px black;
}

.create-question-list-container{
  margin: 10px auto;
  /* border: 1px solid #e2e8f0;
  border-radius: 5px; */
  /* background-color: #fff; */
}

.create-question-list-content{
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  margin-top: 15px;
}

textarea {
  resize: none;
  border-bottom: 1px solid #0F172A;
  background-color: #f8fafc;
  padding: 10px;
  color: #0F172A;
  /* border-radius: 5px; */
}

textarea:focus {
  outline: none;
  background-color: #e2e8f0;
}

.quiz-button {
  background-color: #164e63;
  /* background-color: #4C1D95; */
  padding: 8px 16px;
  border-radius: 6px;
  /* color: #D97706; */
  color: #fff;
  cursor: pointer;
}

.quiz-button:hover {
  box-shadow: 0px 0px 10px #164e63;
  /* border: 1px solid #164E63; */
}

input[type="radio"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-left: 4px;
}
input[type="radio"]:focus {
  outline: none;
}