.quiz-button {
  background-color: #164e63;
  /* background-color: #4C1D95; */
  padding: 8px 16px;
  border-radius: 6px;
  /* color: #D97706; */
  color: #fff;
}

.quiz-button:hover {
  box-shadow: 0px 0px 10px #164e63;
  /* border: 1px solid #164E63; */
}

.option-input {
  background-color: #e5e5e5;
  height: 48px;
  border-radius: 6px;
  padding: 0px 8px;
  border: none;
  border-bottom: 1px solid black;
  /* width: 80%; */
}
.inputFocus:focus {
  outline: none;
  border: 1px solid #86198f;
  box-shadow: 0px 0px 4px #0f172a;
}

.inputFocus:hover {
  box-shadow: 0px 0px 4px #0f172a;
}

/* .inputRadio {
  border: 1px solid #86198f;
  box-shadow: 0px 0px 4px #0f172a;
} */

input[type="radio"] {
  /* -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); */
  /* transform: scale(1.5); */
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-left: 4px;
  /* margin-right: 14px; */
  /* box-shadow: 0px 0px 4px #0F172A; */
  /* background-color: #A3E635; */
}
input[type="radio"]:focus {
  outline: none;
}

textarea {
  resize: none;
  border-bottom: 1px solid black;
  background-color: #E5E5E5;
  border-radius: 8px;
  padding: 8px;
}

/* .quiz-name-modal{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
    width: 400px;
    height: 300px;
    top: -250px;
    padding: 15px;
    border-radius: 6px;
}

.quiz-name-modal input{
    border: 1px solid #94A3B8;
    border-radius: 4px;
    padding: 8px;
}

.quiz-name-modal input:hover{
    box-shadow: 0px 0px 4px black;
}

.quiz-name-modal input:focus{
    box-shadow: 0px 0px 4px black;
    outline: none;
}

.quiz-name-modal select{
    padding: 8px;
    border: 1px solid #94A3B8;
    border-radius: 4px;
}

.quiz-name-modal button{
    background-color: #86198F;
    color: #fff;
    border: 1px solid #86198F;
    padding: 6px 12px;
    margin-top: 50px;
    border-radius: 6px;
    margin-left: 40px;
}

.quiz-name-modal button:hover{
    box-shadow: 0px 0px 10px #86198F;
} */
