.quiz-button{
    background-color: #164E63;
    padding: 8px 16px;
    border-radius: 6px;
    /* color: #D97706; */
    color: #fff;
}

.quiz-button:hover{
    box-shadow: 0px 0px 10px #164E63;
    /* border: 1px solid #164E63; */
}


/* .quiz-name-modal{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
    width: 400px;
    height: 300px;
    top: -250px;
    padding: 15px;
    border-radius: 6px;
}

.quiz-name-modal input{
    border: 1px solid #94A3B8;
    border-radius: 4px;
    padding: 8px;
}

.quiz-name-modal input:hover{
    box-shadow: 0px 0px 4px black;
}

.quiz-name-modal input:focus{
    box-shadow: 0px 0px 4px black;
    outline: none;
}

.quiz-name-modal select{
    padding: 8px;
    border: 1px solid #94A3B8;
    border-radius: 4px;
}

.quiz-name-modal button{
    background-color: #86198F;
    color: #fff;
    border: 1px solid #86198F;
    padding: 6px 12px;
    margin-top: 50px;
    border-radius: 6px;
    margin-left: 40px;
}

.quiz-name-modal button:hover{
    box-shadow: 0px 0px 10px #86198F;
} */