/* header {
  box-shadow: 0px 0px 10px black;
} */

.header-container {
  display: flex;
  gap: 48px;
  align-items: center;
}
.onSideBar {
  position: absolute;
  z-index: 50;
  right: 300px;
}

.outOfSideBar {
  z-index: 1;
}

@keyframes slider {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

.small-screen {
  display: none;
}

.hook {
  position: absolute;
  top: 53px;
  left: 168px;
  font-size: 34px;
  z-index: 50;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
  transition: all 0.2s;
  opacity: 0;
}

.hook-1 {
  position: absolute;
  top: 57px;
  left: 168px;
  font-size: 34px;
  z-index: 50;
  transform-origin: 50% 0;
  animation: holeMoveIt 2.5s ease-in-out 1;
  /* transform: rotate(0deg); */
  transition: all 0.2s;
  opacity: 1;
}
.hole {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  top: 8px;
  z-index: 30;
  left: 68px;
  /* transform-origin: 50% 0;
  animation: holeMoveIt 1.5s ease-in-out 1; */
}

.mobile-view {
  position: absolute;
  border-radius: 40px;
  z-index: 20;
  left: 113px;
  top: 72px;
  background-color: #134e4a;
  padding: 20px;
  transform-origin: 50% 0;
  animation: moveIt 2.5s ease-in-out 1;
}

@keyframes holeMoveIt {
    0%{
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }
@keyframes moveIt {
    0%{
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg) translateY(10px);
    }
    100%{
        transform: rotate(0deg);
    }
  }
  

.mobile-view > ul > li {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  box-shadow: 2px 10px 32px -8px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 6px 0px;
}
.active {
  color: #4ade80;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.li-1 {
  top: 10px;
  left: -90px;
  animation: home 0.5s;
}
.li-2 {
  top: 60px;
  animation: createQuiz 0.5s;
}
.li-3 {
  top: 120px;
  animation: myQuiz 0.5s 0.2s;
}
.li-4 {
  top: 180px;
  animation: allQuiz 0.5s 0.4s;
}
.li-5 {
  top: 240px;
  animation: report 0.5s 0.6s;
}

.big-screen > ul > li {
  display: flex;
  position: relative;
  /* gap: 4px; */
  justify-content: center;
  align-items: center;
  /* padding: 8px 8px; */
  cursor: pointer;
  /* text-shadow: 0 0 15px #8e54e9; */
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.big-screen > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  z-index: 50;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.big-screen > ul > li > a:hover {
    color: #881337;
}

.active-1{
    color: #881337;
}

/* .active-1::after,
.active-1::before {
  content: "";
  position: absolute;
  display: block;
  border: 2px solid #fff;
  width: 120%;
  height: 90%;
} */

.big-screen > ul > li::after,
.big-screen > ul > li::before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
}

.big-screen > ul > li::after {
  width: 0%;
  height: 80%;
  border-top: 2px solid #0F172A;
  border-bottom: 2px solid #0F172A;
  transition: all 0.3s ease;
}

.big-screen > ul > li::before {
  width: 120%;
  height: 0%;
  border-left: 2px solid #0F172A;
  border-right: 2px solid #0F172A;
  transition: all 0.5s ease;
}

.big-screen > ul > li:hover::before {
  height: 90%;
}
.big-screen > ul > li:hover::after {
  width: 120%;
}

@keyframes home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes createQuiz {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes myQuiz {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes allQuiz {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes report {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 300px) {
  .header-container {
    gap: 24px;
  }
  .hook{
    left: 145px;
  }
  .hook-1 {
    left: 145px;
  }
  .hole {
    left: 70px;
  }
  .mobile-view {
    left: 85px;
  }
}

@media screen and (max-width: 800px) {
  .small-screen {
    display: block;
  }
  .big-screen {
    display: none;
  }
}
