header{
    box-shadow: 0px 0px 10px black;
}

.onSideBar{
    position: absolute;
    z-index: 50;
    right: 300px;
}

.outOfSideBar{
    z-index: 1;
}

@keyframes slider{
    0%{
        right: -300px;
    }
    100%{
        right: 0px;
    }
}