.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  /* position: absolute;
  margin-bottom: 120px; */
  background: url('https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_1280.jpg');
  /* background: url('https://i.pinimg.com/564x/a1/a2/40/a1a24095785997ef9a01ec838602029d.jpg');
  background-repeat: no-repeat; */
}
/* .hero-left-content{
  padding: 30px 50px 20px;
  margin-left: 30px;
  color: #881337;
}

.hero-right-content {
  display: block;
} */

.all-quiz-container {
  /* width: 90%; */
  margin: auto;
  padding: 80px 0px;
}

/* .item-class{
  padding: 10px;
} */

.react-multi-carousel-list{
  padding: 10px 0px;
}

.react-multi-carousel-track {
  gap: 5px;
  background-color: #fef9c3;
  padding: 20px 0px;
  -webkit-transform: perspective(100px);
  -webkit-transform-style: preserve-3d;
}

.react-multi-carousel-item {
  /* transform: rotate(45deg); */
  transition: all 0.4s ease-out;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  background: radial-gradient(circle at bottom center, #ffc837 15px, #ff8008);
  /* box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2); */
  box-shadow: 20px 30px 22px -12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  height: 150px;
  /* width: 150px; */
  cursor: pointer;
  width: 100%;
  /* transition: all 0.4s ease-out; */
  /* transform: skew(12deg); */
}
.react-multi-carousel-item:hover {
  transform: rotate(0deg) translateZ(50px) scale(1.2);
  border-radius: 10px;
  border: 1px solid #F97316;
}
/* .card:hover{
  transform: skew(0deg);
} */
.card > h1 {
  text-align: center;
}

.show-more-btn {
  position: relative;
  color: #881337;
  cursor: pointer;
  padding: 8px 8px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* border: 2px solid black; */
  /* border-radius: 4px; */
}

.show-more-btn:hover{
  border: 1px solid #0F172A;
  color: #e04271;
  box-shadow: 0px 0px 4px #0F172A;
}

@media screen and (max-width:1024px) {
  /* .hero{
    justify-content: space-between;
  } */
  /* .hero-left-content{
    padding-left: 0px;
    padding-right: 0px;
  } */
}

@media screen and (max-width:761px) {
  /* .hero{
    flex-direction: column;
    position: relative;
  } */
  /* .hero-right-content{
    position: absolute;
  } */
  /* .hero-right-content {
    display: none;
  } */
  /* .hero-left-content{
    padding-left: 0px;
    padding-right: 0px;
    padding: 10px;
    z-index: 10;
  } */
  /* .hero-left-content>h1,.hero-left-content>h2, .hero-left-content>p{
    text-align: center;
  } */
}

@media screen and (max-width:600px) {
  .hero>h1,.hero>h2{
    font-size: 50px;
  }
}

@media screen and (max-width:500px) {
  /* .hero-right-content{
    display: none;
  } */
  .hero{
    padding-left: 5px;   
    padding-right: 5px;   
  }
  /* .hero{
    margin-left: 0px;
    padding: 0px;
  } */
  .hero>h1,.hero>h2{
    font-size: 40px;
  }
}