/* .bg-image {
  background-image: url("https://cdn.dribbble.com/users/1947758/screenshots/4705733/app-loading-screen.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
} */

/* .content {
  box-shadow: 0px 0px 10px #334155;
} */
.inputs input {
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  /* border: 1px #fff solid; */
  box-shadow: 0px 0px 4px #fff;
  /* color: #FAFAF9; */
  font-weight: 500;
  z-index: 2;
}

.inputs input:focus {
  outline: none;
  /* border: 1px solid #E11D48; */
  box-shadow: 0px 0px 6px #0f172a;
  background-color: #155e75;
}
/* .input{
    border: 1px black solid;
} */

.btn {
  background-color: #fdba74;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
  /* background-color: #0284C7; */
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: #fff; */
  /* color: #FAFAF9; */
  border-radius: 6px;
  /* letter-spacing: 1px; */
  font-size: 20px;
  /* font-weight: 300; */
  font-weight: 500;
  /* box-shadow: 2px 2px 10px #0F172A; */

  /* background: linear-gradient(
    to right,
    #c084fc,
    #a78bfa,
    #818cf8,
    #60a5fa,
    #38bdf8,
    #22d3ee
  ); */
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover {
  box-shadow: 2px 2px 10px #fdba74;
  /* background-color: transparent;
  border: 1px solid #fff; */
  color: #0f172a;
}
.btn:active {
  transform: scale(0.97);
}

.loader {
  position: absolute;
  top: 10px;
  right: 90px;
  width: 30px;
  height: 30px;
  /* background-color: #14532D;
  border-top: 2px solid #14532D;
  border-bottom: 2px solid #7C2D12;
  border-left: 2px solid #581C87;
  border-right: 2px solid #881337;
  border-radius: 50%; */
  /* animation: ; */
}

/* .border-color{
  animation: bordercolor 1s ease-in-out;
} */

.pass-validity::before {
  content: "Password must contain minimum 1 upppercase, 1 lowercase, 1 digit and 1 special character (#,&,*,$,@)";
  bottom: -86px;
  position: absolute;
  background-color: #0f172a;
  padding: 6px;
  color: #fff;
  z-index: 20;
  visibility: hidden;
  transform: scaleY(0);
  transition: all 0.4s ease-out;
}
.pass-validity:hover:before {
  visibility: visible;
  transform: scale(1);
}

.input-error {
  border: 1px solid #c90606;
  background-color: #c90606;
}

.error {
  position: absolute;
  background-color: #fff;
  color: #c90606;
  width: 100%;
  padding: 6px;
  z-index: 20;
  top: 46px;
  border-radius: 3px;
  animation: errorAnimation 0.4s ease-out;
}

@keyframes errorAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* @keyframes bordercolor{
  0%{
    border: 1px solid #64748B;
  }
  25%{
    border: 1px solid #F43F5E;
  }
  50%{
    border: 1px solid #8B5CF6;
  }
  100%{
    border: 1px solid #10B981;
  }
} */

/* .loading-container {
  width: 100%;
  max-width: 520px;
  text-align: center;
  color: #fff;
  position: relative;
}
.loading-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  animation: movingLine 2.4s infinite ease-in-out;
}
@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }

  33.3%,
  66% {
    opacity: 0.8;
    width: 100%;
  }

  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 0;
  }
} */
.loading-text {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3px;
  /* margin-bottom: 32px; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #fdba74;
  border-radius: 6px;
}
.loading-text > span {
  animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

@keyframes moveLetters {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  
  100% {
    transform: translateX(10vw);
    opacity: 0;
  }
}