.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  /* top: 20vh; */
  /* left: 40%; */
  /* width: 80%; */
  z-index: 100;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px black;
  /* width: 400px; */
  /* height: 320px; */
  padding: 35px 20px;
  border-radius: 6px;;
}

.modal input{
    border: 1px solid #94A3B8;
    border-radius: 4px;
    padding: 8px;
}

.modal input:hover{
    box-shadow: 0px 0px 4px black;
}

.modal input:focus{
    box-shadow: 0px 0px 4px black;
    outline: none;
}

.modal textarea{
    border: 1px solid #94A3B8;
    border-radius: 4px;
    padding: 8px;
}

.modal textarea:hover{
    box-shadow: 0px 0px 4px black;
}

.modal textarea:focus{
    box-shadow: 0px 0px 4px black;
    outline: none;
}

.modal select{
    padding: 8px;
    border: 1px solid #94A3B8;
    border-radius: 4px;
}

.modal button{
    background-color: #86198F;
    color: #fff;
    /* border: 1px solid #86198F; */
    padding: 6px 12px;
    margin-top: 50px;
    border-radius: 6px;
    /* margin-left: 40px; */
}

.modal button:hover{
    box-shadow: 0px 0px 10px #86198F;
}