/* .quiz-content{
    border: 1px solid #164E63;
    padding: 4px 0px;
} */
.question-pack{
    padding: 15px 20px 10px 20px;
    box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75);
}

.btns{
    box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75);
    padding: 6px 18px;
    background-color: #047857;
    color: #fff;
    transition: all 0.5s;
    width: 140px;
    border-radius: 4px;
}

.btns:hover{
    background-color: transparent;
    color: #047857;
    border: 1px solid #047857;
}

.back-btn{
    box-shadow: 2px 3px 32px -8px rgba(0, 0, 0, 0.75);
    padding: 6px 18px;
    background-color: #64748B;
    cursor: pointer;
    color: #fff;
}

.back-btn:hover{
    background-color: #B91C1C;
}
.publish{
    display: flex;
    align-items: center;
    margin-top: 450px;
    justify-content: center;
    gap: 10px;
    font-size: 40px;
    color: #15803D;
    width: 100%;
    transition: all 1s ease-in-out;
    animation: publish 1s ease-out;
}

@keyframes publish{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width:600px) {
    .publish{
        font-size: 30px;
    }
    .btns{
        width: auto;
    }
}