.start-quiz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* position: absolute; */
  width: 100%;  
  /* background-color: #FEF9C3; */
  /* top: -100px; */
  /* z-index: 50; */
  padding: 30px 0px 160px;
}

.start-quiz-card-container {
  padding: 10px 30px;
  width: 90%;
  margin: auto;
}
.start-quiz-card {
  padding: 10px 20px;
  background-color: #e7d1b3;
  margin-top: 8px;
}
/* .start-quiz-card{

} */
.quiz-options {
  /* padding: 10px 10px; */
  display: flex;

  /* justify-content: space-between;
    align-items: center; */
  background-color: transparent;
  margin-top: 5px;
  border-radius: 5px;
  border: #d1895c 1px solid;
}
.quiz-options > p {
  padding: 10px 20px;
  width: 44px;
  background-color: #b64c3e;
}

.fav-icon .fav-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fav-icon:hover .fav-tooltiptext {
  visibility: visible;
}


.heart {
    /* --c: red; */
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    /* border-image: radial-gradient(var(--c) 69%,#0000 70%) 84.5%/50%; */
    clip-path: polygon(-42% 0,50% 91%, 142% 0);
  /* border-image: radial-gradient(red 69%, #0000 70%) 84.5% fill/100; */
}
.fvrt {
    border-image: radial-gradient(#DC2626 69%, #0000 70%) 84.5% fill/100%;
  }
  
.unFvrt{
    border-image: radial-gradient(rgb(14,0,0) 69%, rgba(1,0,0,0) 70%) 84.5% fill/100%; 
}

.start-quiz-container>button{
  position: relative;
  text-transform: uppercase;
  background-color: #164E63;
  width: 150px;
  color: #fff;
  padding: 7px 10px;
  border-radius: 4px;
  border: 1px solid #25335c;
  font-size: 14px;
  /* z-index: 10; */
}

/* .start-quiz-container>button::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 0px;  
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  z-index: 0;
} */

.start-quiz-container>button:hover{
  box-shadow: 0px 0px 4px #25335c;
}
/* .start-quiz-container>button:hover::before{
  width: 100%;
} */


@media screen and (max-width:380px) {
 .start-quiz-card-container{
  padding: 10px;
 } 
}